{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="dashboard">

    <h2>Admin Dashboard</h2>

    <br><br>

    <hr>

    <h3>Admission Results</h3>

    <br>

    <!-- =========================
    COURSE FILTER
    ========================= -->

    <form method="GET">

        <select name="course">

            <option value="">All Courses</option>

            <option value="Computer Science"
            {% if selected_course == "Computer Science" %}selected{% endif %}>
                Computer Science
            </option>
            
            <option value="Bio-Mathematics"
            {% if selected_course == "Bio-Mathematics" %}selected{% endif %}>
                Bio-Mathematics
            </option>

            <option value="Commerce"
            {% if selected_course == "Commerce" %}selected{% endif %}>
                Commerce
            </option>

            <option value="Humanities"
            {% if selected_course == "Humanities" %}selected{% endif %}>
                Humanities
            </option>


        </select>

        <button type="submit">
            Filter
        </button>

    </form>

    <br>

    <!-- =========================
    RESULT TABLE
    ========================= -->

    <table border="1" cellpadding="8" cellspacing="0">

        <thead>

            <tr>

                <th>Rank</th>
                <th>Student</th>
                <th>Course</th>
                <th>Preference</th>
                <th>Index Mark</th>
                <th>Bonus Mark</th>
                <th>Stream Score</th>
                <th>Final Score</th>

            </tr>

        </thead>

        <tbody>

            {% for r in results %}

            <tr>

                <td>{{ r.rank }}</td>

                <td>{{ r.student.name }}</td>

                <td>{{ r.course }}</td>

                <td>{{ r.preference_order }}</td>

                <td>{{ r.index_mark }}</td>

                <td>{{ r.bonus_mark }}</td>

                <td>{{ r.stream_score }}</td>

                <td>{{ r.final_score }}</td>

            </tr>

            {% empty %}

            <tr>

                <td colspan="8">
                    No results available
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

    <br><br>

    <button class="logout-btn" onclick="location.href='/logout/'">

        Logout

    </button>

    <br>

</div>


{% endblock %}