{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <center><h2>Course Preference</h2><br></center>

    <form method="POST">

        {% csrf_token %}

        <table class="cbsemarks-table">

            <tr>
                <th>Preference</th>
                <th>Course</th>
            </tr>

            <tr>
                <td>Preference 1</td>
                <td>
                    <select name="pref1" required>

                        <option value="">Select Course</option>

                        <option value="Computer Science">
                            Computer Science
                        </option>

                        <option value="Bio-Mathematics">
                            Bio-Mathematics
                        </option>

                        <option value="Commerce">
                            Commerce
                        </option>

                        <option value="Humanities">
                            Humanities
                        </option>

                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td>Preference 2</td>
                <td>
                    <select name="pref2" required>

                        <option value="">Select Course</option>

                        <option value="Computer Science">
                            Computer Science
                        </option>

                        <option value="Bio-Mathematics">
                            Bio-Mathematics
                        </option>

                        <option value="Commerce">
                            Commerce
                        </option>

                        <option value="Humanities">
                            Humanities
                        </option>

                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td>Preference 3</td>
                <td>
                    <select name="pref3" required>

                        <option value="">Select Course</option>

                        <option value="Computer Science">
                            Computer Science
                        </option>

                        <option value="Bio-Mathematics">
                            Bio-Mathematics
                        </option>

                        <option value="Commerce">
                            Commerce
                        </option>

                        <option value="Humanities">
                            Humanities
                        </option>

                    </select>
                </td>
            </tr>

        </table>

        <br>

        <button type="submit" class="btn">
            Save Preferences
        </button>

    </form>

</div>

{% endblock %}